@use './setting' as setting;
@use './tools' as tools;

/*
  En esta capa estarán:
    1. Patrones de diseños, elementos reutilizables
    2. No cosméticos, ni colores, ni tipografías
    3. Exclusivamente se usaran selectores de clase
*/

.Spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--zindex--one);
	background-color: rgba(var(--darkgray--three), 0.5);
	opacity: 0.5;
}

.Icon {
	color: inherit;
	font-size: var(--font-size--heading-three);
	font-weight: normal;
	position: relative;

	&--little {
		font-size: var(--font-size--normal);
	}

	&--left {
		margin-left: var(--spacing--xxs);
	}

	&--right {
		margin-right: var(--spacing--xxs);
	}

	&--button {
		font-size: var(--font-size--heading-three);
	}

	&--button-icon {
		top: -4px;
	}
}

// Colors
.Color {
	// Utilities class for colors
	// @each $key, $value in setting.$colors {
	// &--#{$key} {
	// color: $value !important;
	// }
	// }
}

// Background Colors
.BgColor {
	// Utilities class for background colors
	// @each $key, $value in setting.$colors {
	// &--#{$key} {
	// background-color: $value !important;
	// }
	// }
}

// Paddings
.Padding {
	// Utilities class for padding
	// @each $key, $value in setting.$spacing {
	// &--#{$key} {
	// padding: $value !important;
	// }
	// &-bottom--#{$key} {
	// padding-bottom: $value !important;
	// }
	// &-top--#{$key} {
	// padding-top: $value !important;
	// }
	// &-right--#{$key} {
	// padding-right: $value !important;
	// }
	// &-left--#{$key} {
	// padding-left: $value !important;
	// }
	// }
}

// Margins
.Margin {
	// Utilities class for margins auto
	// &-bottom--auto {
	// 	margin-bottom: auto;
	// }
	// &-top--auto {
	// 	margin-top: auto;
	// }
	// &-right--auto {
	// 	margin-right: auto;
	// }
	// &-left--auto {
	// 	margin-left: auto;
	// }
	// Utilities class for padding
	// @each $key, $value in setting.$spacing {
	// 	&--#{$key} {
	// 		margin: $value !important;
	// 	}
	// 	&-bottom--#{$key} {
	// 		margin-bottom: $value !important;
	// 	}
	// 	&-top--#{$key} {
	// 		margin-top: $value !important;
	// 	}
	// 	&-right--#{$key} {
	// 		margin-right: $value !important;
	// 	}
	// 	&-left--#{$key} {
	// 		margin-left: $value !important;
	// 	}
	// }
}

// Border Radius
.Radius {
	// Utilities class for border radius
	// @each $key, $value in setting.$radius {
	// &--#{$key} {
	// border-radius: $value;
	// }
	// }
}

// Font Family
.Font-poppins {
	font-family: var(--font--poppins);
}

.Font--normal {
	font-weight: normal;
}

.Font--lighter {
	font-weight: lighter;
}

.Font--bold {
	font-weight: bold;
}
