@use './setting' as setting;
@use './tools' as tools;

/*
  En esta capa estarán:
    1. sobreescrituras de estilos
    2. helpers o utilities
    3. pueden usar el flag !important
    4. solo afecta a una pieza del DOM a la vez
    5. especificidad por lo regular alta
*/

.Markdown {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		margin-bottom: var(--spacing--s);
		font-family: var(--font--poppins);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a[href] {
		color: var(--blue--two);
	}

	h1 {
		@include tools.fontsizeHeadingOne;
	}

	h2 {
		@include tools.fontsizeHeadingTwo;
	}

	h3 {
		@include tools.fontsizeHeadingThree;
	}

	a[href*='http'] {
		&:hover {
			color: var(--green--three);
		}
	}

	img {
		display: inline-block;
		max-width: 100%;
		width: 100%;
		border-radius: var(--radius--xxs);
	}

	pre[class*='language-'],
	code[class*='language-'] {
		display: inline-block;
		margin: 0;

		@include tools.fontsizeNormal;
	}

	pre ~ div {
		z-index: var(--zindex--one);
	}

	pre[class*='language-'] {
		overflow-x: auto;
		width: 100%;
		white-space: pre-wrap;
		word-wrap: break-word;
		background-color: var(--darkgray--one);
	}

	code[class*='language-'] {
		display: inline-block;
		font-family: inherit;
		font-size: 100%;
		white-space: pre;
		word-break: break-all;
	}

	&.Theme--dark {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		a[href] {
			color: var(--blue--one);
		}

		pre[class*='language-'],
		code[class*='language-'] {
			background-color: var(--darkgray--four);
		}
	}

	// @include tools.from(ls) {
	// 	pre[class*='language-'],
	// 	code[class*='language-'] {
	// 		// width: 450px;
	// 	}
	// }
}
