@use './setting' as setting;
@use './tools' as tools;
@use '@angular/material' as mat;

@include mat.core();

$mat-primary-scheme: (
	100: tools.colors(darkgray-one),
	500: tools.colors(darkgray-two),
	700: tools.colors(darkgray-three),
	contrast: (
		100: tools.colors(white-two),
		500: tools.colors(white-two),
		700: tools.colors(white-two),
	),
);
$mat-accent-scheme: (
	100: tools.colors(orange-one),
	500: tools.colors(orange-two),
	700: tools.colors(darkgray-two),
	contrast: (
		100: tools.colors(darkgray-two),
		500: tools.colors(white-two),
		700: tools.colors(white-two),
	),
);
$mat-warn-scheme: (
	100: tools.colors(red-one),
	500: tools.colors(red-two),
	700: tools.colors(red-two),
	contrast: (
		100: tools.colors(darkgray-two),
		500: tools.colors(darkgray-two),
		700: tools.colors(white-two),
	),
);
$mat-primary-palette: mat.define-palette($mat-primary-scheme);
$mat-accent-palette: mat.define-palette($mat-accent-scheme);
$mat-warn-palette: mat.define-palette($mat-warn-scheme);

$app-theme-light: mat.define-light-theme(
	(
		color: (
			primary: $mat-primary-palette,
			accent: $mat-accent-palette,
			warn: $mat-warn-palette,
		),
	)
);
.Theme--light {
	@include mat.core-theme($app-theme-light);
	@include mat.all-component-themes($app-theme-light);
	background-color: tools.colors(white-two);
	color: tools.colors(darkgray-three);
}

$app-theme-dark: mat.define-dark-theme(
	(
		color: (
			primary: $mat-primary-palette,
			accent: $mat-accent-palette,
			warn: $mat-warn-palette,
		),
	)
);
.Theme--dark {
	@include mat.core-color($app-theme-dark);
	@include mat.all-component-colors($app-theme-dark);
	background-color: tools.colors(darkgray-two);
	color: tools.colors(white-two);
}
