@use 'styles' as styles;
@use '@angular/material' as mat;
@include mat.core;

$theme-light: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: mat.$green-palette,
		),
		typography: (
			brand-family: var(--font--poppins),
		),
	)
);
$theme-dark: mat.define-theme(
	(
		color: (
			theme-type: dark,
			primary: mat.$green-palette,
		),
		typography: (
			brand-family: var(--font--poppins),
		),
	)
);

body.Theme--light {
	@include mat.core-theme($theme-light);
	@include mat.all-component-themes($theme-light);

	background: var(--white--two);
	color: var(--darkgray--three);
}

body.Theme--dark {
	@include mat.core-color($theme-dark);
	@include mat.all-component-colors($theme-dark);

	background: var(--darkgray--two);
	color: var(--white--two);
}

// html {
// 	@include mat.core-theme($theme);
// 	@include mat.all-component-themes($theme);
// }

// FIXME: update angular theme
// @use '@angular/material' as mat;
// @include mat.core;

// $mat-primary-scheme: (
// 	100: var(--green),
// 	500: var(--green),
// 	700: var(--green),
// 	contrast: (
// 		100: var(--white-light),
// 		500: var(--white-light),
// 		700: var(--white-light),
// 	),
// );
// $mat-accent-scheme: (
// 	100: var(--blue),
// 	500: var(--blue),
// 	700: var(--blue),
// 	contrast: (
// 		100: var(--white-light),
// 		500: var(--white-light),
// 		700: var(--white-light),
// 	),
// );
// $mat-warn-scheme: (
// 	100: var(--red),
// 	500: var(--red),
// 	700: var(--red),
// 	contrast: (
// 		100: var(--white-light),
// 		500: var(--white-light),
// 		700: var(--white-light),
// 	),
// );
// $mat-primary-palette: mat.define-palette($mat-primary-scheme);
// $mat-accent-palette: mat.define-palette($mat-accent-scheme);
// $mat-warn-palette: mat.define-palette($mat-warn-scheme);
// $app-theme-light: mat.define-light-theme(
// 	(
// 		color: (
// 			primary: $mat-primary-palette,
// 			accent: $mat-accent-palette,
// 			warn: $mat-warn-palette,
// 		),
// 	)
// );

// $app-theme-dark: mat.define-dark-theme(
// 	(
// 		color: (
// 			primary: $mat-primary-palette,
// 			accent: $mat-accent-palette,
// 			warn: $mat-warn-palette,
// 		),
// 	)
// );

// .Theme--dark {
// 	@include mat.core-color($app-theme-dark);
// 	@include mat.all-component-colors($app-theme-dark);

// 	// background-color: var(--darkgray--two);
// 	// color: var(--white--two);
// }
