@use 'styles' as styles;
@use '@angular/material' as mat;
@include mat.core;

$theme-light: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: mat.$green-palette,
		),
		typography: (
			brand-family: var(--font--poppins),
		),
	)
);
$theme-dark: mat.define-theme(
	(
		color: (
			theme-type: dark,
			primary: mat.$green-palette,
		),
		typography: (
			brand-family: var(--font--poppins),
		),
	)
);

body.Theme--light {
	@include mat.core-theme($theme-light);
	@include mat.all-component-themes($theme-light);

	background: var(--white--two);
	color: var(--darkgray--three);
}

body.Theme--dark {
	@include mat.core-color($theme-dark);
	@include mat.all-component-colors($theme-dark);

	background: var(--darkgray--two);
	color: var(--white--two);
}
